@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'poppins', serif;
    /* background-color: black; */
}
body{
    overflow-y: hidden;
}
header{
    background-color: black;
    height: 8vh;
    position: relative;
    border-bottom: 2px solid white;
}
header li{
    list-style: none;
    margin: 23px;
    font-size: 21px;
}
header li a{
    text-decoration: none;
}
ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.sword{
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(224,247,32,1) 100%, rgba(205,250,102,1) 100%);
    height: 100%;
    width: 15vw;
}

.img img{
    height: 100%;
    width: 25vw;
    border-radius: 50%;
}
.h1{
    font-size: 22px;
}
.description{
    font-size: 16px;
}
.skills{
    font-size: 17px;
}
.details{
    height: 100%;
    width: 50vw;
}
